*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --shadow-value: 2px 2px 20px 5px rgba(0,0,0,0.4);
}
html{
  height: 100%;
}

body{
  font-family: sans-serif;
  background-image: linear-gradient(#37D5D6,#36096D);
  background-attachment: fixed;
}
a{
  text-decoration: none;
}

.container{
  max-width: 940px;
  margin: auto;
  padding: 1rem;
  animation: animateContainer 0.5s 0.5s forwards ease-in;
  transform: translateX(-1500px);
}

@keyframes animateContainer{
  to{
    transform:translateX(0);
  }
}

h1{
  opacity: 0;
  text-align: center;
  font-family: sans-serif;
  font-weight: 800;
  color: #fff;
  font-size: 2rem;
  transform: skew(-30deg);
  text-shadow: 3px 3px 10px  rgba(0,0,0,0.4);
  margin: 2rem;
  transform: translateY(-200px);
  animation-name: animateh1;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}

@keyframes animateh1{
  to{
    opacity: 1;
    transform: translateY(0);
  }
}



form{
  position: relative;
  background-color:rgba(4, 190, 66, 0.349);
  box-shadow: var(--shadow-value);
  color: #fff;
  width: 100%;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  z-index: 1;
}

form .form-group{
  margin-bottom: 1rem ;
  
}

.form-elements-anim{
  transform: scale(0);
  animation: animateFormGroup 0.5s 1.5s forwards ease; 
}

@keyframes animateFormGroup{
  to{
    transform: scale(1);
  }
}

form .form-group input{
  color: #fff;
  width: 100%;
  font-size: 1rem;
  padding: 0.5rem;
  background:rgba(0,0,0,0)
  border: solid 1px #fff;
}
form .form-group input:focus{
  outline: none;
}

form .form-group label, form .form-group input{
  display: block;
  margin: 0.5rem 0rem;  
}

.buttons{
  width: 100%;
  margin: 0.1rem auto;
}

.btn{
  margin: 0;
  width: 48%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  text-align: center;
  outline: none;
}

input[value='submit']{
  font-weight: 600;
  background: #e4e6e7;
  color: #58595a;
}

input[value='print']{
  background: #55aefc;
  color: #fff;
}

.btn:hover{
  cursor: pointer;
  outline: none;
}

.btn:active{
  transform: translateY(3px);
}

.delete{
  color: red;
}

#questions-table{
  box-shadow: var(--shadow-value);
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  text-align: left;
  table-layout: fixed;
  transform: translateY(1000px);
  animation: animateTable 0.8s 1.5s forwards ease-out;
}

@keyframes animateTable{
  to{
    transform: translateY(0);
  }
}

#questions-table td{
  padding: 1rem;
  word-wrap: break-word;
}

#questions-table>thead>tr>td{
  opacity: 0.8;
  background-color: #36096D;
  color: #fff; 
}

#questions-table>tbody>tr:nth-child(even){
  background-color: #fff;
}
#questions-table>tbody>tr:nth-child(odd){
  background-color: #f4f4f4;
}

#questions-table>tbody>tr:hover{
  background-color: #ddd;
}

.spawn-row-anim{
  transform: scale(0);
  animation: spawnRow 0.5s forwards ease;
}



@keyframes spawnRow{
  to{
    transform: scale(1);
  }
}




.success{
  position: relative;
  z-index: 2;
  background-color: #30d61a;
  color: white;
  border: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
}

.error{
  position: relative;
  z-index: 2;
  background-color: #f50505;
  color: white;
  border: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
}



